[submodule "bolide"]
	path = bolide
	url = git@github.com:rissem/bolide.git
[submodule "azkaban"]
	path = azkaban
	url = git@github.com:rissem/azkaban.git
[submodule "dementor"]
	path = dementor
	url = git@github.com:rissem/dementor.git
[submodule "apogee"]
	path = apogee
	url = git@github.com:rissem/apogee.git
