[submodule "bolide"]
	path = bolide
	url = git@github.com:mad-eye/bolide.git
[submodule "azkaban"]
	path = azkaban
	url = git@github.com:mad-eye/azkaban.git
[submodule "dementor"]
	path = dementor
	url = git@github.com:mad-eye/dementor.git
[submodule "apogee"]
	path = apogee
	url = git@github.com:mad-eye/apogee.git
[submodule "madeye-common"]
	path = madeye-common
	url = git@github.com:mad-eye/madeye-common.git
[submodule "madeye-ops"]
	path = madeye-ops
	url = git@github.com:mad-eye/madeye-ops.git
[submodule "hermione"]
	path = hermione
	url = git@github.com:mad-eye/hermione.git
[submodule "madeye-dev"]
	path = madeye-dev
	url = git@github.com:mad-eye/madeye-dev.git
